###### backend dependencies ######

# Byte-compiled / optimized / DLL files
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class

# C extensions
backend/*.so

# Distribution / packaging
backend/.Python
backend/env/
backend/build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
backend/.eggs/
backend/lib/
backend/lib64/
backend/parts/
backend/sdist/
backend/var/
backend/*.egg-info/
backend/.installed.cfg
backend/*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
backend/*.manifest
backend/*.spec

# Installer logs
backend/pip-log.txt
backend/pip-delete-this-directory.txt

# Unit test / coverage reports
backend/htmlcov/
backend/.tox/
backend/.coverage
backend/.coverage.*
backend/.cache
backend/nosetests.xml
backend/coverage.xml
backend/*,cover
backend/.hypothesis/

# Translations
backend/*.mo
backend/*.pot

# Django stuff:
backend/*.log
backend/local_settings.py

# Flask stuff:
backend/instance/
backend/.webassets-cache

# Scrapy stuff:
backend/.scrapy

# Sphinx documentation
backend/docs/_build/

# PyBuilder
backend/target/

# IPython Notebook
backend/.ipynb_checkpoints

# pyenv
backend/.python-version

# celery beat schedule file
backend/celerybeat-schedule

# dotenv
backend/.env

# virtualenv
backend/venv/
backend/ENV/

# Spyder project settings
backend/.spyderproject

# Rope project settings
backend/.ropeproject

# SQLite3
backend/db.sqlite3


###### frontend dependencies ######
frontend/.DS_Store
frontend/node_modules
frontend//dist

# local env files
frontend/.env.local
frontend/.env.*.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Editor directories and files
frontend/.idea
frontend/.vscode
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw*
